 

 
 <h3><img src=<%= @result["Poster"] %>> </h3><br/>
  <div class="plot">Plot:<%= @result["Plot"] %></div>
  <div class="releaseYear">Release year:<%= @result["Release Year"] %></div>
  <div class="rating">Rating:<%= @result["Rated"] %></div>
  <div class="runtime">Runtime:<%= @result["Runtime"] %></div>
  <div class="genre">Genre:<%= @result["Genre"] %></div>
  <div class="director">Director:<%= @result["Director"] %></div>
  <div class="actors">Actors:<%= @result["Actor"] %></div>

 <a href="/">New Search</a></body>

 
 

